/* Game.css */

.schore-area {
  height: 100px;
  background: lightgreen;
}

.game-area {
  width: 100%;
  height: 90vh;
  position: relative;
}

.score {
  color: white;
}

.high-score {
  color: white;
}

/* Snake.css */
.snake-dot {
  width: 20px;
  height: 20px;
  background-color: #2a360e;
  position: absolute;
}

.snake-head {
  background-color: #2e3d06;
  height: 20px;
  width: 20px;
}

.snake-tail {
  background-color: #2e3d06;
  height: 20px;
  width: 20px;
}

/* Food.css */
.food {
  width: 20px;
  height: 20px;
  position: absolute;
}
