/* Game.css */

.score-area {
  height: 100px;
  background: #cce705;
  width: 100%;
}

.game-area {
  width: 100%;
  height: 90vh;
  position: relative;
}

/* Snake.css */
.snake-dot {
  width: 10px;
  height: 10px;
  background-color: #2a360e;
  position: absolute;
}

.snake-head {
  background-color: red !important;
  height: 10px;
  width: 10px;
}

.snake-tail {
  background-color: green !important;
  height: 10px;
  width: 10px;
}

/* Food.css */
.food {
  width: 10px;
  height: 10px;
  position: absolute;
}

/* BigFood.js */

.big-food {
  position: absolute;
  width: 15px; 
  height: 15px;
  background-color: #2e3d06; 
  border-radius: 50%; 
}
